{% extends 'users/base.html' %}
{% load static %}

{% block title %}
     
{% endblock title %}

{% block container %}

<div class="container">
	{% csrf_token %}
            <img
               class="rounded mb-3 mx-auto d-block"                
                src="{% static 'img/logo.png' %}"
                alt=""
                width="72"
                height="72"
            />
	<div class="row justify-content-md-center">
		<p>La contraseña fue modificada. Ingresa nuevamente a <a href="{% url 'login' %}"> tu sesión</a> ahora</p>
	</div>
</div>

{% endblock %}