{% extends 'users/base.html' %}
{% load static %}

{% block title %}
     
{% endblock title %}

{% block container %}

<div class="container">

	<div class="d-flex flex-column">
	{% csrf_token %}
            <img
               class="rounded mb-3 mx-auto d-block"                
                src="{% static 'img/logo.png' %}"
                alt=""
                width="72"
                height="72"
            />
		  <p class="m-auto p-2">
            Se te han enviado instrucciones a tu correo, por favor revisa si te han llegado correctamente
            al correo que ingresaste
		  </p>
		  <p class="m-auto p-2">
            Si tu no recibiste ningun correo, por favor asegurate de haber ingresado tu correo electronico,
            con el que te registraste
		  </p>
		  <p class="m-auto p-2"><a href="{% url 'login' %}">Regresar al login</a></p>
	</div>
</div>

{% endblock %}