{% extends "users/base.html" %}

{% block head_content %}
<title>Contraseña cambiada</title>
{% endblock%}

{% block title %}
     
{% endblock title %}

{% block container %}
    <div class="container">
        <div class="row justify-content-md-center">
            <p class="m-auto">Tu contraseña fue cambiada</p>
            <div class="d-flex flex-column">
                <p class="m-auto">Click <a href={% url 'feed' %}>aqui</a>para continuar</p>
            </div>
        </div>
    </div>
{% endblock %}
