{% extends 'users/base.html' %}

{% block head_content %}
    <title>Cambio de contraseña</title>
{% endblock head_content %}

{% block title %}
     
{% endblock title %}

{% block container %}
    <form method="POST" class="form-signin">
        {% csrf_token %}
        <div class="form-group">
            <input name="old_password" class="form-control" placeholder="Antigua contraseña" type="password" id="id_old_password" required="true">
        </div>
        <div class="form-group">
            <input name="new_password1" class="form-control" placeholder="Nueva contraseña" type="password" id="id_new_password1" required="true">
        </div>
        <div class="form-group">
        <input name="new_password2" class="form-control" placeholder="Confirmar contraseña" type="text" id="id_new_password2" required="true">
        </div>
        {% for field in form %}
            {% for error in field.errors %}
                <p style="color: red">{{ error }}</p>
            {% endfor %}
        {% endfor %}

        <button class="btn btn-lg btn-primary btn-block" type="submit">Cambiar</button>
    </form>
{% endblock container %}