{% extends "users/base.html" %}
{% load static %}

{% block head_content %}

{% endblock%}

{% block title %}
    <title>Restaurar contraseña</title>
{% endblock title %}

{% block container %}

    <div class="row justify-content-center align-self-center text-center pt-3">

        <div class="col-lg-8 col-sm-10 col-12 fondo-opaco pt-3">

            <div class="row justify-content-center align-self-center text-center mb-3">
                <div class="col-12">
                    <h3 class="">Restaurar contraseña</h3>
                </div>
            </div>

            <div class="row justify-content-center align-self-center text-center mb-3">
                <div class="col-10">
                    <p class="">Perfecto, tu solicitud de cambio de contraseña ha sido recibida,
                    para continuar solo debes escribir tu nueva contraseña.</p>
                </div>
            </div>

            <div class="row justify-content-center text-center pt-3 pb-3">
                <div class="col-lg-6 col-sm-10 col-12">

                    <form method="POST" class="form-signin">

                        {% csrf_token %}
                        <div class="row justify-content-center form-group"">
                            <div class="col-lg-12 col-sm-10 col-12">
                                <input name="new_password1" class="form-control" placeholder="Nueva contraseña" type="password" id="id_new_password1" required="true">
                            </div>
                        </div>

                        <div class="row justify-content-center form-group">
                            <div class="col-lg-12 col-sm-10 col-12 ">
                                <input name="new_password2" class="form-control" placeholder="Confirmar contraseña" type="password" id="id_new_password2" required="true">
                            </div>
                        </div>

                        {% for field in form %}
                            {% for error in field.errors %}
                                <p class="py-3" style="color: red">{{ error }}</p>
                            {% endfor %}
                        {% endfor %}

                        <div class="row justify-content-center form-group pt-3">
                            <div class="col-lg-12 col-sm-10 col-12 ">
                                <button class="btn btn-lg btn-primary btn-block" type="submit">Cambiar contraseña</button>
                            </div>
                        </div>

                    </form>

                </div>

            </div>

        </div>
    
    </div>
    
{% endblock container %}