{% extends 'users/base.html' %}
{% load static %}

{% block title %}
     <title>Correo enviado</title>
{% endblock title %}

{% block container %}

    <div class="row justify-content-center align-self-center text-center pt-3">

        <div class="col-lg-8 col-sm-10 col-12 fondo-opaco pt-3">

            <div class="row justify-content-center align-self-center text-center mb-3">
                <div class="col-12">
                    <h3 class="">Correo enviado</h3>
                </div>
            </div>

            <div class="row justify-content-center align-self-center text-center pt-3 pb-3">
                <div class="col-10">
                    <p class="">
                        Se han enviado indicaciones a tu correo con los pasos a seguir.
                    </p>
                    <p class="">
                        Si no recibiste ningun correo, por favor asegurate de haber ingresado correctamente el correo electrónico registrado para la cuenta.
                    </p>
                    <p class=""><a class="text-warning" href="{% url 'login' %}"><b>Regresar al Inicio de sesión</b></a></p>
                </div>
            </div>

        </div>
    
    </div>

{% endblock %}

