{% extends 'users/base.html' %}
{% load static %}

{% block title %}
    <title>¡Correcto!</title>
{% endblock title %}

{% block container %}

<div class="row justify-content-center align-self-center text-center pt-3">

        <div class="col-8 fondo-opaco">

            <div class="row justify-content-center align-self-center text-center mb-3">
                <div class="col-12">
                    <h3 class="">¡Correcto!</h3>
                </div>
            </div>

            <div class="row justify-content-center align-self-center text-center pt-3 mb-3">
                <div class="col-10">
                    <p class="">La contraseña fue modificada exitosamente. Para seguir disfrutando de RestaSoft, ingresa nuevamente a tu sesión.</p>
                    <p class=""><a class="text-warning" href="{% url 'login' %}"><b>Regresar al Inicio de sesión</b></a></p>
                </div>
            </div>

        </div>
    
    </div>

{% endblock %}