{% extends 'base.html' %}
{% load static %}

{% block head_content %}
{% endblock head_content %}

{% block title %}
    <title>Comandas</title>
{% endblock title %}


{% block title_dash %}
    <h1>Comandas</h1>
{% endblock title_dash %}


{% block container %}
<div class="row justify-content-center">
    <div class="col-lg-11 mt-2">
        <div class="row">
            <table class="table table-hover table-sm table-striped">
                <thead class="thead-dark text-center">
                    <tr>
                        <th scope="col">N. de pedido</th>
                        <th scope="col">Cantidad</th>
                        <th scope="col">Platillo</th>
                        <th scope="col">Fecha</th>
                        <th scope="col">Hora</th>
                        <th scope="col">N.de mesa</th>
                        <th scope="col">Mesero</th>
                        <th scope="col">&nbsp;&nbsp;Estatus</th>
                    </tr>
                </thead>
                <tbody class="bg-tbl">
                <tr class="">
                    <td class="text-center h3">1024</td>
                    <td class="text-center">2<br>1<br>2</td>
                    <td class="pb-4">Hamburguesa<br>Torta<br>Flautas de lomo</td>
                    <td class="text-center">05-12-2020</td>
                    <td class="text-center">12:43</td>
                    <td class="text-center">4</td>
                    <td class="text-center">Adam H.</td>
                    <td class="form-group text-center">
                        <button class="btn btn-success btn-sm mt-3" type="submit" name="submit">Cerrar</button>
                    </td>
                </tr>
                <tr>
                    <td class="text-center h3">1025</td>
                    <td class="text-center">1<br>3</td>
                    <td class="pb-4">Montado de chile pasado<br>Hamburguesa</td>
                    <td class="text-center">05-12-2020</td>
                    <td class="text-center">12:57</td>
                    <td class="text-center">5</td>
                    <td class="text-center">Diana J.</td>
                    <td class="text-center orange "><b>PENDIENTE</b></div>
                    </td>
                </tr>
                <tr>
                    <td class="text-center h3">1026</td>
                    <td class="text-center">1<br>1<br>2</td>
                    <td class="pb-4">Burrito de lengua<br>Burrito de lomo<br>Papas con catsup</td>
                    <td class="text-center">05-12-2020</td>
                    <td class="text-center">13:03</td>
                    <td class="text-center">3</td>
                    <td class="text-center">Adam H.</td>
                    <td class="text-center orange "><b>PENDIENTE</b></div>
                    </td>
                </tr>
                <tr>
                    <td class="text-center h3">1027</td>
                    <td class="text-center">1<br>1</td>
                    <td class="pb-4">Hamburguesa especial<br>Aros de cebolla</td>
                    <td class="text-center">05-12-2020</td>
                    <td class="text-center">13:21</td>
                    <td class="text-center">7</td>
                    <td class="text-center">Jorge R.</td>
                    <td class="text-center orange "><b>PENDIENTE</b></div>
                    </td>
                </tr>
                <tr>
                    <td class="text-center h3">1028</td>
                    <td class="text-center">2<br>1</td>
                    <td class="pb-4">Hamburguesa sencilla<br>Hamburguesa especial</td>
                    <td class="text-center">05-12-2020</td>
                    <td class="text-center">13:34</td>
                    <td class="text-center">5</td>
                    <td class="text-center">Andrea F.</td>
                    <td class="text-center orange "><b>PENDIENTE</b></div>
                    </td>
                </tr> 
            </table>
        </div>
    </div>
</div>
{% endblock container %}