{% extends 'base.html' %}
{% load static %}

{% block head_content %}
{% endblock head_content %}

{% block title %}
<title>Editar</title>
{% endblock title %}

{% block title_dash %}
<h1>Editar productos</h1>
{% endblock title_dash %}


{% block container %}


<div class="row justify-content-start">

    <form class="form-inline" action="{% url 'editar_prod' %}" method="GET">

        <div class="col-lg-7 mt-5 ml-5">
            {% if edit and query != None and query != '' and query != '/'%}
            <input type="text" class="form-control" id="edit" name="edit" value={{query}} />

            <label>Articulos encontrados:{{edit|length}}</label>
            {% else %}
            <input type="text" class="form-control" id="edit" name="edit" placeholder="Producto..." />
            <label>No se encontraron productos: <strong>{{query}}</strong></label>
            {% endif %}


        </div>

        <div class="col-lg-1 mt-5 ">
            <button class="btn btn-outline-warning btn-sm form-control" type="submit">Buscar</button>
        </div>
    </form>

</div>

<!-- {% if edit  %}
    <label>Articulos encontrados:{{edit|length}}</label> 
    {% else %}
     <label>No se encontraron productos <strong>{{query}}</strong></label> <input type="text" class="form-control" id="edit" name="edit" placeholder="Producto..."/> 
    {% endif %} -->

<!-- {{form.product_name}} -->

{% if query != None and query != '' and query != '/' and edit%}
<div class="row justify-content-start mb-5" id="contenedor">
 
    <form class="form-inline" action="{% url 'editar_prod' %}" method="POST">
        {% csrf_token %}
    <div class="col-lg-5 mt-5 ml-5">
        <div class="row">

            <label for="name">Nombre</label>
        </div>

        <div class="row mb-3">
            <input type="text" class="form-control" id="Name" name="name"
                value="{{prod_mod.product_name}}" />
        </div>
        <div class="row">
            <label for="description">Descripción</label>
        </div>
        <div class="row mb-3">
            <textarea class="form-control" id="Description" name="description" rows="3" cols="50"
                >{{prod_mod.categoriesproduct.category_description}}</textarea>
        </div>

        <div class="row">
            <label for="categoría">Categoría</label>
        </div>

        <div class="row">
            {{form.list_price}}
            <label for="price">Precio</label>
        </div>
        <div class="row mb-3">
            <input type="text" class="form-control" id="Price" name="price" value="{{prod_mod.list_price}}" />
        </div>
    </div>

    <div class="col-lg-5 mt-5 ml-5">
        <div class="row">
            <label for="file-upload" class="custom-file-upload ">Imagen</label>
        </div>

        <div class="row">
            <span class="btn btn-dark btn-sm btn-file">
                Subir archivo <input type="file">
            </span>
        </div>

        <div class="row">
            <img class="img-edit-prod mt-2 mb-4" src="{% static 'img/img-shape.png' %}" alt="image" />
        </div>

            <div class="row mt-3">
                <div class="col-lg-4">
                    <button type="submit" class="btn btn-primary btn-block btn-sm" id="Save" name="save" value="{{prod_mod.id}}">Guardar</button>
                </div>
            </div>
        </div>
    </form>
</div>

         {% endif  %} 

{% endblock container %}