{% extends 'base.html' %} 
{% load static %} 

{% block head_content %} 
{% endblock head_content %} 

{% block title %}
    <title></title>
{% endblock title %} 

{% block title_dash %}
    <div class="col-2 mt-5">
        <h1></h1>
    </div>

    <div class="col-2 mt-5 mr-5 text-center">
        <a class="btn btn-dark btn-block btn-sm" href="#">Salir
            <img src="{% static 'img/log_out.png' %}" alt="log_out-icon" /></a>
    </div>
{% endblock title_dash %} 


{% block container %}
    <div class="row justify-content-center">
                    
        <div class="col-lg-11 mt-2">
            <div class="row justify-content-end">
                
            </div>

            <div class="row">
                
            </div>
        </div>
        
    </div>
{% endblock container %}