  
{% extends 'base.html' %}
{% load static %} 

{% block head_content %}
{% endblock head_content %}

{% block title %}
     <title>Nuevo Producto</title>
{% endblock title %}

{% block title_dash %}
        <h1>Nuevo producto</h1>
{% endblock title_dash %}

{% block container %}
 <div class="col-md-8 order-md-5">

    <form  method="POST" action="{% url 'nuevo' %} " enctype="multipart/form-data">
      {% csrf_token %}
      <div class="mt-2">
        <div class="col-md-6 mb-3 ">
          <label for="Name">Nombre del platillo</label>
          <input type="text" class="form-control" id="Name" name="name"value="{{prod_mod.product_name}}" />
          <!-- {{form.product_name}}-->
        </div>

        <div class="col-md-6 mb-3">
          <label for="category">Categoría</label>
          <input class="form-control" id="categoria" name="categoria" rows="3" cols="50">{{prod_mod.categoriesproduct.category_name}}
          <!-- {{form.categoriesproduct}}-->
        </div>

        <div class="col-md-6 mb-3">
          <label for="Descripcion">Descripcion:</label>
          <input class="form-control" id="Description" name="description" rows="3" cols="50">{{prod_mod.categoriesproduct.category_description}}
        </div>

        <div class="col-md-5 mb-3">
          <label for="cPrecio">Precio</label>
          <input type="number" class="form-control" id="Price" name="price" value="{{prod_mod.list_price}}" >
          <!-- {{form.list_price}} -->
        </div>
        <!--  {{form.suppliers}} -->

        <!-- {{form.categoriesproduct.category_description.as_p}}-->
          <label for="store" id ="store" >Store:</label>
          <select name="select">
            <option value="{{user.staffs.stores.store_name}}">{{user.staffs.stores.store_name}}</option>
          </select>
          <!-- {{form.stores}} -->
        </div>

        <div class="col-lg-12 col-md-7 mb-3">
          <input type="file" name="image"/>
        </div>
    
      <div class="mb-3">
        <div class="col-md-3 mb-5">
            {% csrf_token %}
          <button class="btn btn-primary btn-sm mb-5" type="submit" name="submit">Añadir producto</button>
        </div>
      </div>

    </form>

  </div>
      
{% endblock container %}