{% extends 'base.html' %} 
{% load static %} 

{% block head_content %} 
{% endblock head_content %} 

{% block title %}
<title>Productos</title>
{% endblock title %} 

{% block title_dash %}
    <div class="col-2 mt-5">
        <h1>Productos</h1>
    </div>

    <div class="col-2 mt-5 mr-5 text-center">
        <a class="btn btn-dark btn-block btn-sm" href="#">Salir
            <img src="{% static 'img/log_out.png' %}" alt="hamburguesa" /></a>
    </div>
{% endblock title_dash %} 

{% block container %}
    <div class="col-lg-11 mt-2">
        <div class="row justify-content-end">
            <nav class="navbar navbar-dark">
                <form class="form-inline">
                    <input class="form-control mr-sm-2" type="search" placeholder="Search..." aria-label="Search"/>
                    <button class="btn btn-outline-warning btn-sm my-4 my-sm-0" type="submit">Buscar</button>
                </form>
            </nav>
        </div>

        
    </div>
{% endblock container %}
