@import url("https://fonts.googleapis.com/css2?family=Lobster&family=Merienda+One&display=swap");

html {
    font-size: 1.1rem !important;
}

html,
body {
    height: 100%;
    background-color: rgb(22, 22, 22);
    color: white;
}

/*
* Base structure
*/

.base {
    background-color: #333;
    background-image: linear-gradient(
            to top,
            rgba(22, 22, 22, 1),
            rgba(22, 22, 22, .5),
            rgba(255, 255, 255, 0)30%,
            rgba(0, 0, 0, .1)70%,
            rgba(0, 0, 0, .7),
            rgba(0, 0, 0, 1)
        ),
        url(../img/fondo-login.jpg);

    /* Full height */
    height: 100%;
    opacity: 0.9;
    color: #fff;

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.hero-image1 {
    background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
        url("../img/suscript2.jpg");
    height: 50%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.hero-image2 {
    background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
        url("../img/about_us2.jpg");
    height: 50%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.hero-image3 {
    background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
        url("../img/contact2.jpg");
    height: 50%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.hero-image4 {
    background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
        url("../img/nosotros3.jpg");
    height: 50%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}
.hero-text {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    text-shadow: 3px 3px 3px #000000;
}

.suscrip {
    border-left: 5px dotted #ff7a00;
    padding-left: 15px;
}

.green {
    color: #00ae8f !important;
}

.bg-green {
    background-color: #00ae8f !important;
}

.orange {
    color: #ff7a00;
}

.bg-orange {
    background-color: #ff7a00;
}

.shero {
    padding: 10rem 0;
}

.fondo-opaco {
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 15px;
    box-shadow: 3px 3px 6px #000000;
}

.separation {
    border: 1px solid silver;
    border-radius: 500px/8px;
    height: 0px;
}

a,
a:focus,
a:hover {
    color: #fff;
}

/* Custom default button */
.btn-secondary,
.btn-secondary:hover,
.btn-secondary:focus {
    color: #333;
    text-shadow: none; /* Prevent inheritance from `body` */
    background-color: #fff;
    border: 0.05rem solid #fff;
}

.cover-container {
    max-width: 62em;
}

.nav-link {
    font-weight: 700;
    color: #00ae8f !important;
    border-bottom: 0.25rem solid transparent;
    text-shadow: 3px 3px 3px #000000;
}

.nav-link:hover,
.nav-link:focus {
    border-bottom-color: #ff7a00 !important;
}

.btn-file {
    position: relative;
    overflow: hidden;
}
.btn-file input[type="file"] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}

.btn {
    border-radius: 25px;
}

nav .active {
    color: #ff7a00;
    border-bottom-color: #ff7a00;
    text-shadow: 3px 3px 3px #000000;
}


footer {
    background-color: rgb(14, 14, 14);
    color: rgb(173, 173, 173);
}

.hr-footer {
    background-color: rgb(173, 173, 173);
    width: 95vw;
}

.social-media:hover {
    color: #ff7a00 !important;
}


@media (min-width: 48em) {
    .masthead-brand {
        float: left;
    }
    .nav-masthead {
        float: right;
    }
}

/*
 * Cover
 */
.cover {
    padding: 0 1.5rem;
}
.cover .btn-lg {
    padding: 0.75rem 1.25rem;
    font-weight: 700;
}

/*
 * Footer
 */
.mastfoot {
    color: rgba(255, 255, 255, 0.5);
}
