
@import url('https://fonts.googleapis.com/css2?family=Salsa&display=swap');

.main {
  margin-left: 250px; /* Same as the width of the sidenav */

  background-image: url(../img/pizzeria_fondo.jpg);

  /* Full height */
  height: 100%;
  color:white;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: fixed;
}

h6 {
  color:#00AE8F;
}



.datos-card{
  background-color: rgba(0,0,0,.7);
  box-shadow: white;
  border-radius: 10px;
}

.resta-nav {
  position: fixed;
  bottom:25;
  margin-left: 75;
  font-family: 'Salsa', cursive;
}

/* The sidenav */
aside {
  width: 250px;
  height: 100%;
  position: fixed;
  top:0;
  bottom: 0;
}

ul.nav a:hover { 
  color: #FF7A00 !important; 
}

.resta-nav {
  position: fixed;
  bottom:25;
  margin-left: 50;
  font-family: 'Salsa', cursive;
}

.img-sidebar {
  /* Centrar imagen*/
  display:block;
  margin:auto;

  width:60;
  height:73;
}

.img-tbl-prod {
  width:50;
  height:33;
}

.img-tbl-action {
  width:40;
  height:26;
}

.img-btn-out {
  width:10;
  height:10;
}

.btn-file {
  position: relative;
  overflow: hidden;
}
.btn-file input[type=file] {
  position: absolute;
  top: 0;
  right: 0;
  min-width: 100%;
  min-height: 100%;
  font-size: 100px;
  text-align: right;
  filter: alpha(opacity=0);
  opacity: 0;
  outline: none;
  background: white;
  cursor: inherit;
  display: block;
}

.img-edit-prod {
  width: 300;
  height: 198;
}

.btn {
  border-radius: 50px;
}




@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}