
.main {
  margin-left: 250px; /* Same as the width of the sidenav */
}

/* The sidenav */
.sidenav {
  height: 100%;
  width: 250px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  padding-top: 20px;
}

.sidenav a {
  padding: 6px 6px 6px 32px;
  text-decoration: none;
  font-size: 20px;
  color: #818181;
  display: block;
}

.sidenav a:hover {
  color: #FF7A00;
}

.img-sidebar {
  /* Centrar imagen*/
  display:block;
  margin:auto;

  width:60;
  height:73;
}

.img-element-sidebar {
  width:30;
  height:20;
}

.img-tbl-prod {
  width:50;
  height:33;
}

.img-tbl-action {
  width:40;
  height:26;
}




@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}