{% extends 'company/base_company.html' %} 
{% load static %} 


{% block title %}
    <title>Nosotros</title>
{% endblock title %} 

{% block title_dash %}
    <h1>Únete al equipo</h1>
{% endblock title_dash %} 


{% block container %}

    <section class="hero-image2 shero">
        <div class="container hero-text">
            <h1 style="font-size:50px">¿Quiénes somos?</h1>
            <h5>Queremos verte crecer</h5>
        </div>
    </section>

    <div class="container col-lg-8 col-md-10 col-sm-12 pt-5">
        <div class="row justify-content-center">
            <div class="col-md-3 col-6"><hr class="separation"></div>
            <div class="col-12 text-center pt-2 pb-2">
                <h1 class="display-4 d-none d-md-block">- Nunca se ha tratado de lo que haces, si no, de cómo lo haces -</h1>
                <h1 class="d-none d-sm-block d-md-none px-3">- Nunca se ha tratado de lo que haces, si no, de cómo lo haces -</h1>
                <h4 class="d-none d-block d-sm-none px-3">- Nunca se ha tratado de lo que haces, si no, de cómo lo haces -</h1>
            </div>
            <div class="col-md-3 col-6"><hr class="separation"></div>
        </div>
    </div>

    <div class="container col-lg-8 col-md-10 col-sm-11 py-5">
        <div class="row justify-content-center pt-3">
            <div class="col-12">
                <h4 class="d-none d-md-block mb-3 px-md-2 px-3 orange">Somos como tú</h4>
                <h4 class="d-none d-block d-md-none text-center mb-3 px-md-2 px-3">Somos como tú</h4>
            </div>
            <div class="col-md-6 col-12 px-md-3 px-4">                    
                <p>Somos una empresa joven y orgullosamente Chihuahuense, comprometidos 
                con brindar las mejores experiencias a los usuarios de los restaurantes de esta ciudad, 
                creando tecnologías que ayuden a los clientes como a los dueños de los restaurentes a 
                disfrutar más del lugar.</p>
                <p>Tenemos la convicción de que las personas visitan un lugar por la experiencia que viven en él,
                y si esta fue de su agrado, estan dispuestos a volver e incluso a hacerlo con mas gente.</p>
            </div>
            <div class="col-md-6 col-12 px-md-3 px-4">
                <p>En RestaSoft queremos crear esas grandes experiencias para tus clientes y que tú disfrutes de tu negocio,
                queremos compartir logros junto con todos nuestros socios, queremos crecer a la par de ellos
                y es por eso que para nosotros primero esta tu restaurante, porque si tú creces, nosotros también.</p>
            </div>       
        </div>
    </div>

    <section class="hero-image4 shero">
    </section> 
    <div class="container col-lg-8 col-md-10 col-sm-12 pt-5 pb-5">

        <div class="row pt-3">

            <div class="row my-4">
                <div class="col-12">
                    <h4 class="d-none d-md-block mb-3 px-md-3 px-5 mb-3 orange">Nuestro Origen</h4>
                    <h4 class="d-none d-block d-md-none text-center mb-3 px-md-3 px-5">Nuestro Origen</h4>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 col-12 px-md-3 px-5">                    
                    <p>RestaSoft surge como una idea a mediados del año 2020, 
                    como respuesta a la experiencia de la administración manual 
                    existente en los distintos restaurantes en la ciudad de Chihuahua.</p>
                    <p>En RestaSoft tenemos la convicción de siempre demostrar a los 
                    clientes de los restaurantes y al personal que en ellos laboran, 
                    cómo es que se puede mejorar su experiencia, a través de las nuevas tecnologías
                    y herramientas.</p>
                </div>
                <div class="col-md-6 col-12 px-md-3 px-4 my-4">
                    <div class="row justify-content-center justify-content-md-end">
                        <div class="col-lg-6 col-md-8 col-4">
                            <img class="img-fluid" src="{% static 'img/logo.png' %}" alt="team-goals">
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>
    </div>

    <section class="hero-image3 shero">
        <div class="container hero-text">
            <h1 style="font-size:50px">Queremos saber de tí</h1>
                <h5>Nos interesa conocerte</h5>
        </div>
    </section>

    <div class="container col-lg-8 col-md-10 col-sm-12">
        <div class="row justify-content-center">
            <div class="col-12 text-center pt-5 pb-5">
                <h1 class="display-4">Contáctanos</h1>
                <h5 class="mb-8 pl-8 pr-2">Con gusto te ayudaremos</h5>
            </div>
        </div>
    </div>

    <section class="px-md-5 pb-5 mx-md-5 dark-grey-text">

        <div class="row justify-content-center">

            <div class="col-lg-4 col-md-12 col-10 mb-0 mb-md-0">

                <div class="row justify-content-center mb-5">
                    <div class="col-12">
                        <img class="rounded mb-sm-5 mb-md-3 mx-auto d-block" src="{% static 'img/logo.png' %}" alt="" width="82"/>
                    </div>
                </div>
                
                <div class="row justify-content-center">
                    <div class="col-12 mb-4">
                        <p class="suscrip">Tenemos la convicción de brindar las mejores experiencias a 
                        los usuarios de los restaurantes de esta ciudad, por ello esperamos responder cualquier duda 
                        o pregunta que tengas, con gusto la responderemos.</p>
                    </div>
                </div>

                <div class="row justify-content-center">

                    <div class="col-lg-12 col-sm-6 col-12 pt-sm-4 pb-md-2 mb-md-0">
                        <label class="d-flex"><span class="green"><i class="material-icons" style="font-size: 25px">mail</i></span>&nbsp;&nbsp; contacto@restasoft.com</label>
                    </div>

                    <div class="col-lg-12 col-sm-6 col-12 pt-sm-4 pb-md-2 mb-md-0">
                        <label class="d-flex"><span class="green"><i class="material-icons" style="font-size: 25px">call</i></span>&nbsp;&nbsp;614-2345678</label>
                    </div>
                </div>

            </div>

            

            <div class="col-lg-8 col-md-12 col-10 mb-4 mb-md-0">
                <form method="POST" action="{% url 'contacto_view' %}">
                    {% csrf_token %}

                        
                        <div class="row">
                            <div class="col-md-6 col-12">
                                <div class="mt-3">
                                    <label class="orange" for="nombre">Nombre:</label>
                                    <input type="text" id="nombre" class="form-control" name="nombre">
                                </div>
                            </div>

                            <div class="col-md-6 col-12">
                                <div class="mt-3">
                                    <label class="orange" for="apellido">Apellido:</label>
                                    <input type="text" id="apellido" class="form-control" name="apellido">
                                </div>
                            </div>
                        </div>
                        
                        <div class="row">
                            <div class="col-md-6 col-12">
                                <div class="mt-3">
                                    <label class="orange" for="telefono">Teléfono:</label>
                                    <input type="text" id="form-last-name" class="form-control" name= "telefono">
                                </div>
                            </div>
                        
                            <div class="col-md-6 col-12">
                                <div class="mt-3">
                                    <label class="orange" for="correo">Correo:</label>
                                    <input type="email" id="correo" class="form-control" name="correo">
                                </div>
                            </div>
                        </div>
                        
                        <div class="row">
                            <div class="col-md-12 mt-3">
                                <label class="orange" for="asunto">Asunto:</label>
                                <input type="text" id="asunto" class="form-control" name="asunto">
                            </div>
                        </div>
                        
                        <div class="row">
                            <div class="col-md-12 mt-3">
                                <label class="orange" for="mensaje">Mensaje:</label>
                                <textarea id="mensaje" class="md-textarea form-control" rows="3" name="mensaje"></textarea>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-12 mb-2 mt-3">
                                <button type="submit" class="btn btn-primary btn-lg btn-block mt-3"><b>Enviar</b></button>
                            </div>
                        </div>                    
                </form>

            </div>


        </div>
  </section>

{% endblock container %}