{% extends 'company/base_company.html' %} 
{% load static %} 


{% block title %}
    <title>Nosotros</title>
{% endblock title %} 

{% block title_dash %}
    <h1>Únete al equipo</h1>
{% endblock title_dash %} 


{% block container %}

        <section class="hero-image2 shero">
            <div class="container hero-text">
                <h1 style="font-size:50px">¿Quiénes somos?</h1>
                <h5>Queremos verte crecer</h5>
            </div>
        </section>

        <div class="container col-8 pt-5">
            <div class="row justify-content-center">
                <div class="col-3"><hr class="separation"></div>
                <div class="col-12 text-center pt-2 pb-2">
                    <h1 class="display-5">- Nunca se ha tratado de lo que haces, si no, de cómo lo haces -</h1>
                </div>
                <div class="col-3"><hr class="separation"></div>
            </div>
        </div>

        <div class="container col-8 pt-5">

            <div class="row justify-content-center pt-3">
                <div class="col-12">
                    <h4 class="mb-3 pl-2 pr-2">Somos como tú</h4>
                </div>
                <div class="col-6">                    
                    <p>Somos una empresa joven y orgullosamente Chihuahuense, comprometidos 
                    con brindar las mejores experiencias a los usuarios de los restaurantes de esta ciudad, 
                    creando tecnologías que ayuden a los clientes como a los dueños de los restaurentes a 
                    disfrutar más del lugar.</p>
                    <p>Tenemos la convicción de que las personas visitan un lugar por la experiencia que viven en él,
                    y si esta fue de su agrado, estan dispuestos a volver e incluso a hacerlo con mas gente.</p>
                </div>
                <div class="col-6">
                    <p>En RestaSoft queremos crear esas grandes experiencias para tus clientes y que tú disfrutes de tu negocio,
                    queremos compartir logros junto con todos nuestros socios, queremos crecer a la par de ellos
                    y es por eso que para nosotros primero esta tu restaurante, porque si tú creces, nosotros también.</p>
                </div>       
            </div>
        </div>

        <section class="hero-image4 shero1">
        </section> 

{% endblock container %}