{% extends 'company/base_company.html' %} 
{% load static %} 


{% block title %}
    <title>Contacto</title>
{% endblock title %} 

{% block title_dash %}
    <h1>Únete al equipo</h1>
{% endblock title_dash %} 


{% block container %}

    <section class="hero-image3 shero">
            <div class="container hero-text">
                <h1 style="font-size:50px">Queremos saber de tí</h1>
                <h5>Nos interesa conocerte</h5>
            </div>
    </section>

    <div class="container ">
        <div class="row justify-content-center">
            <div class="col-12 text-center pt-5 pb-5">
                    <h1 class="display-2">Contactanos</h1>
            </div>
        </div>
    </div>

  <section class="px-md-5 mx-md-5 text-center text-lg-left dark-grey-text">
    <div class="row">

      <div class="col-lg-5 col-md-12 mb-0 mb-md-0">
        <h3 class="font-weight-bold">Contactanos</h3>
        <p class="text-muted">Tenemos la convicción de brindar las mejores experiencias a 
        los usuarios de los restaurantes de esta ciudad, por ello esperamos responder cualquier duda
        o pregunta que tenga</p>
        <p><span class="font-weight-bold mr-2">Correo:</span><a href="">contact@mycompany.com</a></p>
        <p><span class="font-weight-bold mr-2">Telefono:</span><a href="">+48 123 456 789</a></p>
      </div>

      <div class="col-lg-7 col-md-12 mb-4 mb-md-0">
        <div class="row">
            <div class="col-md-6">
                <div class="md-form md-outline mb-0">
                <input type="text" id="form-first-name" class="form-control">
                <label for="form-first-name">Nombre</label>
                </div>
            </div>
            <div class="col-md-6">
                <div class="md-form md-outline mb-0">
                    <input type="text" id="form-last-name" class="form-control">
                    <label for="form-last-name">Apellido</label>
               </div>
            </div>
        </div>
        
        <div class="md-form md-outline mt-3">
          <input type="email" id="form-email" class="form-control">
          <label for="form-email">Correo:</label>
        </div>

        <div class="md-form md-outline">
          <input type="text" id="form-subject" class="form-control">
          <label for="form-subject">Asunto</label>
        </div>

        <div class="md-form md-outline mb-3">
          <textarea id="form-message" class="md-textarea form-control" rows="3"></textarea>
          <label for="form-message">Mensaje:</label>
        </div>

        <button type="submit" class="btn btn-info btn-sm ml-0">Enviar<i class="far fa-paper-plane ml-2"></i></button>
      </div>

    </div>
  </section>

{% endblock container %}