{% extends 'company/base_company.html' %} 
{% load static %} 


{% block title %}
    <title>Contacto</title>
{% endblock title %} 

{% block title_dash %}
    <h1>Únete al equipo</h1>
{% endblock title_dash %} 


{% block container %}

        <section class="hero-image3 shero">
            <div class="container hero-text">
                <h1 style="font-size:50px">Queremos saber de tí</h1>
                <h5>Nos interesa conocerte</h5>
            </div>
        </section>

{% endblock container %}