{% extends 'company/base_company.html' %} 
{% load static %} 


{% block title %}
    <title>Agradecimiento</title>
{% endblock title %} 

{% block title_dash %}
    <h1>Agradecimiento/h1>
{% endblock title_dash %} 


{% block container %}

        <div class="container col-12 pt-5">
            <div class="row justify-content-center bg-green">
                <div class="col-12 text-center pt-5 pb-5">
                    <h1 class="display-2">Gracias</h1>
                </div>
            </div>
        </div>
        <div class="container col-6 pt-5">

            <div class="row justify-content-center pt-4 pb-5">
                <div class="col-12">
                    <h4 class="pb-3 orange">Gracias por tu información</h4>
                    <p>Con RestaSoft  esperamos</p>
                </div>
            </div>                       
        </div>
        
{% endblock container %}