{% extends 'company/base_company.html' %} 
{% load static %} 


{% block title %}
    <title>Únete</title>
{% endblock title %} 

{% block title_dash %}
    <h1>Únete al equipo</h1>
{% endblock title_dash %} 


{% block container %}

        <section class="hero-image1">
            <div class="container hero-text">
                <h1 style="font-size:50px">Creamos experiencias...</h1>
                <h5>Sé parte de este gran equipo</h5>
            </div>
        </section>

        <div class="container col-8 pt-5 pb-5">
            <div class="row justify-content-end">
                <div class="col-3">
                    <button class="btn btn-success btn-block">¡ Quiero ser miembro !</button>
                </div>
            </div>
            <div class="row justify-content-between pb-5 ">
                <div class="col-5">
                    <h4 class="pb-3">¡ Únete al equipo !</h4>
                    <p class="suscrip">Para nosotros, tú eres una parte muy importante del negocio restaurantero 
                    en la ciudad de Chihuahua, queremos ser parte de tu experiencia al brindar 
                    el mejor servicio a muchos de los clientes que buscan calidad, productos, 
                    variedad, sabor, confort y un incontable número de cualidades que estamos seguros 
                    que tiene tu restaurante. </p>
                </div>
                <div class="col-5">
                    <h4 class="pb-3" style="margin-top:140px;">¡ Únete al equipo !</h4>
                    <p class="suscrip">Para nosotros, tú eres una parte muy importante del negocio restaurantero 
                    en la ciudad de Chihuahua, queremos ser parte de tu experiencia al brindar 
                    el mejor servicio a muchos de los clientes que buscan calidad, productos, 
                    variedad, sabor, confort y un incontable número de cualidades que estamos seguros 
                    que tiene tu restaurante. </p>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-12 text-center">
                    <h1 class="display-2">- Nuestra oferta -</h1>
                </div>
            </div>
            
        </div>

{% endblock container %}