{% extends 'company/base_company.html' %} 
{% load static %} 


{% block title %}
    <title>Únete</title>
{% endblock title %} 

{% block title_dash %}
    <h1>Únete al equipo</h1>
{% endblock title_dash %} 


{% block container %}

        <section class="hero-image1">
            <div class="container hero-text">
                <h1 style="font-size:50px">Creamos experiencias...</h1>
                <h5>Sé parte de este gran equipo</h5>
            </div>
        </section>

{% endblock container %}