{% extends 'base.html' %}
{% block head_content %}
    
{% endblock head_content %}

{% block title %}
     <title>Inicio</title>
{% endblock title %}

{% block title_dash %}
          <div class="col-6 mt-5">
          <h1>Bienvenido Socio {{user.username }}</h1>
          </div>
{% endblock title_dash %}

{% block container %}
          <form>
          <h2 class="align-bottom">Luigui´s Pizzas</h2>
          <h4 class="align-bottom" name="Slogan">Una receta diferente para compartir</h4>
          <p>Ubicación: </p>
          <p>Telefono: </p>
          <p>Sitio web: </p>
          <p>Ubicado: </p>
          <p>Ubicado: </p>
          <ul>
{% endblock container %}