{% extends 'users/base.html' %}
{% block head_content %}
    <title>Log In</title>
{% endblock head_content %}

{% block title %}
     <title>ssss</title>
{% endblock title %}

{% block container %}
        <form class="form-signin">
            <img
               class="rounded mx-auto d-block"
                {% load static %}
                src="{% static 'img/logo.png' %}"
                alt=""
                width="72"
                height="72"
            />
            <h3 class="text-center">Login</h3>
            <h3 class="row justify-content-center">Please sign in</h3>
            <p>
            <div class="mb-3">
                <label for="inputUser" class="sr-only">Username</label>
                <input
                    type="User"
                    id="inputEmail"
                    class="form-control"
                    placeholder="User"
                    required
                    autofocus
                />
            </div>
            <div class="mb-5">
            <label for="inputPassword" class="sr-only">Password</label>
            <input
                type="password"
                id="inputPassword"
                class="form-control"
                placeholder="Password"
                required
            />
            </div>
            
            <button class="btn btn-lg btn-warning btn-block" type="submit">
                Sign in
            </button>
        </form>
{% endblock container %}

{% comment %} {% if error %}
    <p class="alert alert-danger" role="alert">{{error}}</p>
{% endif %}

<form method="POST" action="{% url "login" %}">
    {% csrf_token %}
    <div class="form-group">
        <input class="form-control mb-2" type="text" placeholder="Username" name="username" />
        <input class="form-control" type="text" placeholder="Password" name="password" />
    </div>
    <button class="btn btn-primary btn-block" type="submit">Sign in</button>

    <div class= "d-flex flex-column mt-3">
        <p class="m-auto">You don't have an account, <a href={% url 'signup' %}>Sign Up</a> now</p>
    </div>
</form>
{% if error %}
    <div class="d-flex flex-column mt-3">
        <p class="m-auto"> Forgot your password? Click
        <a href="{% url 'password_reset'%}">here.</a> </p>
    </div>
{% endif %} {% endcomment %}