{% load static %}
{% load cloudinary %}

<!-- main.css -->


{% block navbar %}
    
    <nav class="navbar navbar-expand-md navbar-dark pb-3">
        <a class="navbar-brand" href="{% url 'login' %}"><img src="{% static 'img/RestaSoft.png'%}" width="200" alt="RestaSoft"></a>

        <button class="navbar-toggler" type="button" data-toggle="collapse" 
                data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" 
                aria-expanded="false" aria-label="Toggle navigation">
            <span class=""><i class="material-icons green" style="font-size:40px">menu</i></span>
        </button>

        <div class="collapse navbar-collapse text-center" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item pt-4 py-md-0">
                    <a class="nav-link" href="{% url 'login' %}">Inicio</a>
                </li>
                <li class="nav-item pt-2 py-md-0">
                    <a class="nav-link" href="{% url 'about_us' %}">Nosotros</a>
                </li>
                <li class="nav-item pt-2 pb-4 py-md-0">
                    <a class="nav-link" href="{% url 'suscription' %}">Suscripciones</a>
                </li>
            </ul>
            <div class="d-none d-sm-block form-inline justify-content-center my-2">
                <a href="{% url 'suscription' %}#suscriptions" class="btn btn-sm btn-outline-success mx-md-3 my-sm-0 px-5" style="box-shadow: 3px 3px 6px #000000;"><b>¡Suscríbete!</b></a>
            </div>
        </div>
    </nav>
    

{% endblock%}

