{% load static %}
{% load cloudinary %}


{% block navbar %}

    <header class="masthead mb-auto">
        <div class="inner">
            <h1 class="masthead-brand">Resta<span>Soft</span></h1>
            <nav class="nav nav-masthead justify-content-center">
                <a class="nav-link" href="{% url 'login' %}">Inicio</a>
                <a class="nav-link" href="{% url 'about_us' %}">Nosotros</a>
                <a class="nav-link" href="{% url 'contact' %}">Contacto</a>
                <a class="nav-link" href="{% url 'suscription' %}">Únete</a>
            </nav>
            
        </div>
        
    </header>

{% endblock%}

