{% extends 'users/base.html' %}
{% load cloudinary %}

{% block head_content %}
    <title>Sign-up</title>
{% endblock head_content %}

{% block title %}
     <title>Registro</title>
{% endblock title %}
git
{% block container %}
    <div class="col-md-12">
        <form class="form-signin" action="{% url 'newuser' %}" method="POST">
         {% csrf_token %}
            <img
               class="rounded mx-auto d-block"
                {% load static %}
                src="{% static 'img/logo.png' %}"
                alt=""
                width="72"
                height="72"
            />
            <h3 class="row justify-content-center">Por favor regístrate</h3>
             {% if error %}
                <p class="alert alert-danger">{{ error }}</p>
             {% endif %}
            <p>
            <div class="row">
                <div class="col-lg-12 col-md-7 mb-3">
                    <input class="form-control" type="text" placeholder="Nombre del Restaurant" name="store_name" required="true" />
                </div>
                <div class=" col-lg-6 col-md-7 mb-3">
                    <input class="form-control" type="text" placeholder="Nombre" name="first_name" required="true" />
                </div>
                <div class="col-lg-6 col-md-7 mb-3">
                    <input class="form-control" type="text" placeholder="Usuario" name="username" required="true" />
                </div>
                <div class="col-lg-6 col-md-7 mb-3">
                    <input class="form-control" type="text" placeholder="Apellido" name="last_name" required="true" />
                </div>
                <div class="col-lg-6 col-md-7 mb-3">
                    <input class="form-control" type="password" placeholder="Contraseña" name="passwd" required="true" />
                </div>
                <div class="col-lg-6 col-md-7 mb-3">
                    <input class="form-control" type="email" placeholder="Correo electrónico" name="email" required="true" />
                </div>
                <div class="col-lg-6 col-md-7 mb-3">
                    <input class="form-control" type="password" placeholder="Confirmar contraseña" name="passwd_confirmation" required="true" />
                </div>
                <div class="col-lg-6 col-md-7 mb-3">
                    <input class="form-control" type="tel" placeholder="Telefono" name="phone" required="true" />
                </div>
                <div class="col-lg-6 col-md-7 mb-3">
                    <input class="form-control" type="text" placeholder="Cuidad" name="city" required="true" />
                </div>
                <div class="col-lg-6 col-md-7 mb-3">
                    <input class="form-control" type="text" placeholder="Direccion" name="address" required="true" />
                </div>
                <div class="col-lg-6 col-md-7 mb-3">
                    <input class="form-control" type="text" placeholder="Codigo Zip" name="zip" required="true" />
                </div>
                <div class="col-lg-6 col-md-7 mb-3">
                    <input class="form-control" type="text" placeholder="Sitio Web" name="sitio_web" required="true" />
                </div>
                <div class="col-lg-6 col-md-7 mb-3">
                    <input class="form-control" type="text" placeholder="Slogan" name="slogan" required="true" />
                </div>
                {% load cloudinary %}
                <!-- <div class="col mb-3"> -->
                    <!-- {{form.image_prod}} -->
                    <!-- <label for="cPrecio">Subir Logo:</label>-->
                    <!--<span >imagen<input type="file" name="img"></span> -->
                <!-- </div> -->
            </div>
            <div>
                <button class="btn btn-primary btn-block mt-1" type="submit">Registrarse</button>
            </div>
        </form>
        <br>
    </div>
{% endblock container %}